<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Catálogo</h1>
      <p>Selecciona los productos que deseas comprar</p><!--sugerido por copilot-->
      <ul class="product-list">
        <!-- genera un listado de elementos para products -->
        <li *ngFor="let product of products" class="product-item">
          <div class="product">
            <div class="product-image">
              <img [src]="product.imageUrl" [alt]="product.name" />
            </div>
            <div class="product-info">
              <h2>{{ product.name }}</h2>
              <p>{{ product.description }}</p>
              <p class="product-price">{{ product.price | currency }}</p>
            </div>
            <div class="product-action">
              <button class="btn btn-primary" (click)="addToCart(product, 1)">
                Agregar al carrito
              </button>
            </div>
          </div>
      </ul>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="cart">
        <h1>Carrito</h1>
        <div class="checkout">
          <!-- muestra el precio total del carrito -->
          <p class="cart-total">Total: {{ total | currency }}</p>
          <!-- boton comprar solo si hay items en el carrito -->
          <button class="btn btn-primary" [disabled]="cart.length === 0" (click)="buy()">Comprar</button>
        </div>

        <ul class="item-list">
          <!-- genera un listado de elementos para cart -->
          <li *ngFor="let item of cart" class="item">
            <div class="item-info">
              <!-- badge para mostrar la cantidad de items en el carrito -->
              <span>x{{ item.quantity }} - {{ item.name }}</span>
              <span class="item-price">{{ item.price | currency }}</span>
            </div>
            <div class="item-action">
              <!-- genera un botón para remover un item del carrito como icono de basura -->
              <button class="btn btn-icon" (click)="removeFromCart(item)">
                <i class="material-icons">delete</i>
              </button>
            </div>
        </ul>
      </div>
    </div>
  </div>
</main>